mixin row(title, row)
    tr(style="background-color: rgba(0, 0, 0, 0.2);")
        each val, key in row
            if key != '_id'
                td=val
            else
                td
                    a(href=`${title}/${val}`) 
                        button(style="padding: 5px;") Except
                        