extends base
include mixins/table

block content
    div(style="display: flex; flex-direction: column; align-items: center;")
        if complianceResults    
            +table(complianceResults, false)
        else
            +table(exceptedResults, true)