extends base

block content
    form(method="POST")
        input(placeholder="Username" name="username", type="text", required)
        input(placeholder="Password" name="password", type="password", required)
        input(placeholder="Confirm Password", name="passwordConfirmation", type="password", required)
        input(type="submit", value="Join")
    hr 
    div 
        span Already have an account?&nbsp;
        a(href="/login") Log in now &rarr;